<div class="main">
  <app-breadcrumb [paths]="paths"></app-breadcrumb>
  <div class="container">
    <app-search-control (search)="filterCourses($event)"></app-search-control>
    <div class="add-course">
      <button type="button" class="btn btn-primary" (click)="addNewCourse()">
        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Add course
      </button>
    </div>

    <div *ngIf="filteredCourses.length > 0; else noCourses">
      <app-course-list [courses]="filteredCourses" (edit)="editCourse($event)"
                       (delete)="deleteCourse($event)"></app-course-list>
      <button type="button" class="btn btn-light btn-lg btn-block load-more shadow-sm"
              (click)="loadMore()">{{loadMoreLabel | uppercase}}</button>
    </div>

  </div>
</div>


<ng-template #noCourses>
  <div class="alert alert-warning alert-dismissible fade show text-center mt-5" role="alert">
    <div *ngIf="!filter; else notFound">
      <strong>No data.</strong> Feel free to add a new course.
    </div>
  </div>
</ng-template>

<ng-template #notFound>
  <div>
    <strong>No search results.</strong> Try again with another search or clear your search to show all courses.
  </div>
</ng-template>

