.item-container {
  padding-top: 5px;
  padding-bottom: 5px;
}

.course-description {
  width: 60%;
  display: block;
}

.course-btn-section {
  width: 20%;
  display: block;
}

.btn-icon {
  width: 16px;
  height: 16px;
}

.btn-margin {
  margin-left: 4px;
}

.icon-margin {
  padding-left: 8px;
  padding-right: 8px;
}

.lang{
  padding-left: 5px;
  padding-right: 5px;
  background-color: #f2f3f7;
}
