.search-box {
  width: 360px;
  height: 42px;
  background: url(../../../assets/images/ic-search.svg) no-repeat scroll white 6px 6px;
  padding-left: 32px;
  margin-top: 20px;

}

.search-button {
  padding-left: 10px;
}
