.main {
  background-color: #F2F3F7;
  padding-top: 30px;
  padding-bottom: 30px;
}


.edit-course-box {
  padding: 25px;
  background: white;
  box-shadow: 0 1px 24px 0 rgba(18, 21, 35, 0.08);
  border-radius: 6px;
  width: 600px;
  margin-bottom: 50px;
}


.edit-course-buttons {
  display: block;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
}
